@tailwind base;

:root {
    --card-width: 70px;
    --card-border-color: #111;
    --card-radius: 0.3rem;
    --card-bg-color: rgb(185 28 28 / 1);
}

.ramen-red {
    @apply bg-red-700;
}

.flash-black {
    --card-border-color: slategray;
    --card-radius: 0.1rem;
    --card-bg-color: #333;
}