:root {
  --card-width: 70px;
  --card-aspect: 2/3;
  --card-border-color: #111;
  --card-border-w: 0.5px;
  --card-radius: 0.3rem;
  --card-bg-color: rgb(185 28 28 / 1);
  --card-glow-color: lightgoldenrodyellow;
}

.cherry-version {
  --card-radius: 0.1rem;
  --card-aspect: 3/5;
  --card-border-color: darkslategray;

  & .down {
    --card-bg-color: url("/cards/cherry-version/webp/card-back.webp");
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
}

.flash-black {
  --card-border-color: slategray;
  --card-radius: 0.1rem;
  --card-bg-color: #333;
}

.hanami {
  --card-bg-color: linear-gradient(45deg, seagreen, palegreen);
  --card-border-color: #555;
  --card-radius: 0.5rem;
  --card-aspect: 11/16;

  & .down {
    background-image: url("/cards/hanami/webp/card-back.webp") !important;
    background-color: lightgoldenrodyellow !important;
    background-size: 60% !important;
    background-repeat: no-repeat !important;
    background-position: bottom 5% right 5% !important;
  }
}

.koinobori {
  --card-bg-color: linear-gradient(225deg, skyblue, lightsteelblue);
  --card-border-color: #333;
  --card-radius: 0.5rem;

  & .down {
    background-image: url("/cards/koinobori/webp/card-back.webp") !important;
    background-color: lightskyblue !important;
    background-size: 60% !important;
    background-repeat: no-repeat !important;
    background-position: bottom 5% right 5% !important;
  }
}

.modern {
  --card-aspect: 9/16;
  --card-border-color: hsla(0 0% 100% / 0.3);
  --card-glow-color: powderblue;

  & .card {
    background-color: var(--tbl-black);
    object-fit: cover;
  }

  & .down {
    --card-bg-color: url("/cards/modern/webp/card-back.webp");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
}

.moon-rabbit {
  --card-radius: 0.1rem;
  --card-aspect: 39/64;

  & .down {
    --card-border-w: 2px;
    background-image: url("/cards/moon-rabbit/webp/card-back.webp") !important;
    background-color: lightgray !important;
    background-size: 40% !important;
    background-repeat: no-repeat !important;
    background-position: bottom 5% right 5% !important;
  }
}

.nishiki-fuda {
  --card-radius: 0.1rem;
  --card-border-color: #555;

  & .down {
    --card-bg-color: url("/cards/nishiki-fuda/webp/card-back.webp"),
      linear-gradient(45deg, gray, #111);
    background-blend-mode: screen;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
}

.ramen-red {
}

.sabling-art {
  --card-radius: calc(0.2 * var(--card-width));
  --card-glow-color: red;

  & .down {
    --card-bg-color: url("/cards/sabling-art/webp/card-back.webp");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
}
