@font-face {
    font-family: 'Potta One';
    src: url('../fonts/PottaOne-Regular.woff2') format('woff2'),
        url('../fonts/PottaOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mochiy Pop One';
    src: url('../fonts/MochiyPopOne-Regular.woff2') format('woff2'),
        url('../fonts/MochiyPopOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}